.contact-center{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.contact-container {
    text-align: center;
    padding: 20px;
    border: 2px solid;
    border-radius: 12px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    margin-top: 30px;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
