nav {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    position: relative;
}

.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover{
    text-decoration: underline;
}

.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img{
    height: 40px;
}
.nav-left {
  margin-right: -100px;
}

.nav-right {
  margin-left: -100px;
}